@uniscale-sdk:registry=https://sdk.uniscale.com/api/packages/8af172fa-a5dd-4ec8-bcf3-1a5dc16ad200/npm/
//sdk.uniscale.com/api/packages/8af172fa-a5dd-4ec8-bcf3-1a5dc16ad200/npm/:_authToken=8e9b2c9a7cdeabe54267ebca5138c182e9456c02